@font-face {
	font-family: 'punk';
	src: url('/css/Punktype.ttf');
	src: url('/css/Punktype.eot')\9;
}

@font-face {
	font-family: 'road';
	src: url('/css/TransportMedium.ttf');
	src: url('/css/TransportMedium.eot')\9;
}


body {
	margin: 0;
	padding: 0;
	background: url(/images/bkg.png) top center repeat-x #1A0031;
	font-family: Arial,Helvetica,sans-serif;
	color: black;
	font-size: 12px;
	background-size: 1920px;
}

a {
	text-decoration: none;
	color: #ffa634;
}

a:hover {
	text-decoration: underline;
	color: #ffc63f;
}

#Container {
	margin: 55px auto;
	/*border-left: 5px solid #DDD;
	border-right: 5px solid #DDD;
	background: #e5f1fd;*/
	width: 950px;
	padding: 0 10px;
}

#Header {
	/*margin-top:55px;*/
	width: 100%;
	position: relative;
}

#Header #Logo {
	line-height: 0;
	width: 100%;
	text-align: center;
	border: none;
}

#Header #Logo img {
	width: 207px;
	height: 156px;
	margin-bottom: -44px;
	margin-top: -110px;
	border: none;
}

#Header #ProfileSign {
	width: 195px;
	
	transform: rotate(-3deg);
	margin-bottom: -30px;
	margin-left: -30px;

	z-index: 3;
	position: relative;
	padding: 10px;

	font-size: 16px;
	font-family: road;
	color: white;
	text-align: center;

	/* IE bullshit */
	width: 200px\9;
	margin-bottom: -50px\9;
	margin-left: -50px\9;
	filter: progid:DXImageTransform.Microsoft.Matrix(
			M11 = 0.998629535 ,
			M12 = 0.05233596,
			M21 = -0.05233596,
			M22 = 0.998629535 ,
			sizingMethod = 'auto expand'
	);

	overflow: visible;
}

#Header #ProfileSign[logged=false] #background {
	height: 100px\9;
}

#Header #ProfileSign[logged=true] #background {
	height: 160px\9;
}


#Header #ProfileSign #background {
	width: 220px;
	height: 100%;
	
	position:absolute;
	z-index: 1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#Header #ProfileSign #RegisterSign,
#Header #ProfileSign #LoginSign {
	padding: 10px;
	width: 80px;
	height: 54px;
	display: block;
	position: absolute;
	padding-top: 38px;
	font-weight: bold;
	z-index: 4;
	filter: none;
}

#Header #ProfileSign #RegisterSign {
	left: -3px;
	top: -25px;
}

#Header #ProfileSign #LoginSign {
	top: -25px;
	right: -11px;
}

#Header #ProfileSign a {
	color: white;
}

#Header #ProfileSign hr {
	margin:2px 0px;
	color:white;
	position: relative;
	z-index: 2;
}

#Header #ProfileSign #UsernameRow {
	position: relative;
	z-index: 2;
}

#Header #ProfileSign #CreditsRow {
	padding-bottom:5px;
	position: relative;
	z-index: 2;
}

#Header #ProfileSign #CreditsRow span {
	display:inline-block;
	font-size: 12px;
	width:45%;
	height: 20px;

	width:25%\9;
}

#Header #ProfileSign #CreditsRow span img {
	margin-bottom: -3px;
	image-rendering: crisp-edges;
	border: none;

	width: 20px\9;
}

#Header #ProfileSign #CreditsRow span.Separator {
	font-family: Arial;
	font-size: 16px;
	width: unset;
	background: none;
}

#Header #LogoutSign {
	background: url('/images/sign_stop.png') round; /* Practically useless in ie (overwritten by filters) */
	transform: rotate(3deg);
	position: relative;
	float: right;
	z-index: 3;
	
	font-size: 16px;
	font-family: road;
	color: white;
	line-height: 90px;
	text-align: center;
	
	width: 90px;
	height: 90px;
	
	margin-top: -66px;
	margin-right: 41px;
	margin-left: -150px;

	padding: 10px;

	/* IE bullshit */
	margin-left: -129px\9;
	margin-top: -14px\9;
	font-weight: normal\9;
	filter: progid:DXImageTransform.Microsoft.Matrix(  /* ROTATE 3 DEG */
		M11 = 0.99862953,  	/*  COS_THETA */
		M12 = -0.05233596,	/* -SIN_THETA */
		M21 = 0.05233596,   /*  SIN_THETA */
		M22 = 0.99862953 ,  /*  COS_THETA */
		sizingMethod = 'auto expand'
	);
}

#Header #Links {
	border: 5px solid black;
	font-size: 18px;
	width: 930px;
	margin: 0 auto;
	padding: 5px;
	
	color: white;
	text-align: center;
	font-weight: bold;
	font-family: punk;
	position: relative;
	z-index: 2;

	background: url(/images/header/navbar.jpg) repeat-x;
	background-size: 48px auto;
}

#Header #Links a {
	color: white;
	padding: 2px 1.5em;
	background: rgb(0,0,0)
}

#Header #UserLinks {
	border: 4px solid black;
	font-size: 14px;
	width: 900px;
	margin: 0 auto;
	padding: 2px 0px;
	
	color: white;
	text-align: center;
	position: relative;
	z-index: 2;

	background: #171717;
}

#Header #UserLinks a {
	color: white;
	padding: 2px 1.5em;
}

#Header #UserLinks a:hover,
#Header #UserLinks a[selected] {
	background: #3e3e3e;
	font-weight: bold;
}

#Header #StipendThingy {
	border: 4px solid black;
	font-size: 14px;
	width: 900px;
	margin: 0 auto;
	padding: 6px 0px;
	
	color: white;
	text-align: center;
	position: relative;
	z-index: 2;

	border-top: 0;
	background: green;
	
}

#Header #StipendThingy a {
	border: 2px solid black;
	padding: 3px 5px;
	background: #222;
}

#Header #StipendThingy a:hover {
	background: #444;
}

#Footer {
	text-align: center;
	background: #222;
	padding-top: 10px;
	padding-bottom: 20px;
}

#Footer #FooterContainer {
	width: 800px;
	margin:0 auto;
}

#Footer #Links {
	margin: 12px auto;
    margin-top: 0px;
}

#Footer #Legalese {
	width: 600px;
	margin: 20px auto;
	margin-bottom: 0px;
}

#Body {
	border: 4px solid black;
	background: #353535;
	border-top: none;
	width: 900px;
	margin: 0 auto;
	padding: 0px;
	color:white;
}

#BodyContainer {
	padding: 5px;
}

h4 {
	font-size:14px;
}

h3 {
	font-size:18px;
}

h2 {
	font-size:22px;
}


h1 {
	font-size:28px;
}

h1, h2, h3, h4 {
	background: black;
	padding: 5px 20px;
	width: fit-content;
	font-family: punk;
	font-weight: 500;
	block-size: fit-content;
	overflow:auto;
}

#FormPanel {
	margin: 20px auto;
	width: fit-content;
	text-align: center;

	border: 2px solid black;
	padding: 5px 50px;
	background: #242424;
}

#FormPanel h4,
#FormPanel h2 {
	margin: 15px auto;
}

#FormPanel input[type=text],
#FormPanel input[type=password] {
	border: 2px solid black;
	background: #444;
	padding: 2px 4px;
	width: 197px;
	color: white;
}

#FormPanel input[type=submit] {
	border: 2px solid black;
	background: black;
	color: white;
	padding: 4px 8px;
	font-weight: bold;
	font-family: punk;
}

#FormPanel input[type=submit]:hover {
	text-decoration: underline;
	background: #161616;
	cursor: pointer;
}

.Validator {
	display: block;
	font-weight: bold;
	margin-bottom: 10px;
	color: red;
}

#FormPanel form {
	width: 240px;
	padding-bottom: 10px;
}

.FormBox h3 {
	margin: 0;
}

.FormBox #DetailsBox {
	width: 666px;
	margin: 0 auto;
}

.FormBox #DetailsBox #FormStuff {
	background: #222;
	border: 2px solid black;
	padding: 15px;
}

.FormBox #DetailsBox #FormStuff span {
	color: lightgray;
}

/* Profile CSS */
#FormStuff input[type=submit] {
	border: 2px solid black;
	background: black;
	color: white;
	padding: 4px 8px;
	font-weight: bold;
	font-family: punk;
}

#FormStuff input[type=submit]:hover {
	text-decoration: underline;
	background: #161616;
	cursor: pointer;
}

.FormBox #DetailsBox #FormStuff textarea {
	display:block;
	margin-top:15px;
	border: 2px solid black;
	background: #444;
	padding: 2px 4px;
	color: white;
	width: 618px;
	height: 115px;
	resize: vertical;
}

.ErrorTime {
	padding: 5px 9px;
	border-bottom: 2px solid black;
	background: #9d0000;
	font-weight: bold;
}

/* Stuff / Create CSS */

#StuffContainer {
	width: 876px;
	margin: 0 auto;
	margin-bottom: 15px;
}

#StuffContainer h1 {
	margin-bottom: 0px;
	margin-top: 5px;
	width:826px;
}

#StuffContainer #StuffNavigation {
	border: 2px solid black;
	background: #222;
	width:184px;
	display: inline-block;
	vertical-align: top;
	border-top: 0;
	
}

#StuffNavigation ul {
	list-style: none;
	padding: 15px;
	margin: 0;
}

#StuffNavigation hr {
	border: 0;
}

#StuffNavigation ul > li[selected] a {
	font-weight: bold;
	text-decoration: underline;
}

#AssetsContainer {
	display: inline-block;
	border: 2px solid black;
	border-left: none;
	min-height: 180px;
	width: 676px;
	background: #222;
	vertical-align: middle;

	white-space: nowrap;
	border-top: 0;
	position: relative;
}

#AssetsContainer table {
	min-height: 180px;
	padding: 5px;
}

#AssetsContainer #Paginator {
	display: block;
	background: #111111;
	padding: 10px;
	text-align: center;
}

#AssetsContainer #Paginator input {
	font-size: 12px;
	width: 30px;
	height: 13px;
	text-align: center;
}

#StuffNavigation #CreateArea {
	display: block;
	width: 100%;
	padding: 5px 0px;
	background: #111;
	font-weight: bold;
	text-align: center;
}

#StuffNavigation #CreateArea a {
	display: inline-block;
	width: 45%;
}

#StuffNavigation #CreateArea a[disabled] {
	color: gray;
	cursor:not-allowed;
}

#AssetsContainer .Asset {
	border: 2px solid black;
	width: 135px;
	padding: 10px;
	background: #1a1a1a;
	font-size: 0px;
}


#AssetsContainer .Asset[nopricing] #Pricing {
	opacity: 0;
}

#AssetsContainer .Asset #NameAndThumbs {
	display: block;
}

#AssetsContainer .Asset #NameAndThumbs > img {
	border: 2px solid black;
	display: block;
	width: 130px;
	height: 130px;
	background: #222;
}

#AssetsContainer .Asset #NameAndThumbs > span {
	display: block;
	font-weight: bold;
	overflow: hidden;
	text-overflow: ellipsis;
}

#AssetsContainer .Asset > a > span {
	margin: 6px 5px;
	margin-bottom: 0px;
	display:block;
	font-size: 12px;
}

#AssetsContainer .Asset > a:hover {
	text-decoration: none;
}
#AssetsContainer .Asset > a:hover > span {
	text-decoration: underline;
}

#AssetsContainer .Asset #Creator,
#AssetsContainer .Asset #Creator span {
	margin-top: 0px;
}

#AssetsContainer .Asset #Pricing {
	background: #313131;
	border: 2px solid black;
	border-top: 0px;
	padding: 5px;
	width: 120px;
	color: white;
	text-decoration: none;
	white-space: none;
}

#AssetsContainer .Asset #Pricing > span > img {
	border: 0;
	width: 16px;
	height: 16px;
	image-rendering: pixelated;
	margin-bottom: -3px;
	position: relative;
	display: unset;
}

#AssetsContainer .Asset #Pricing > span {
	display:inline-block;
	width: 50%;
	padding-left: 4px;
	font-size: 12px;
}

#AssetsContainer .Asset #Pricing[oneprice] > span {
	text-align: center;
	width: 100%;
	padding-left: 0px;
}

#AssetsContainer .Asset #Pricing > span#FreeTag {
	text-align: center;
	color: #00ae00;
	font-weight: bold;
	width: 100%;
	padding-left: 0px;
}

#AssetsContainer .Asset #Pricing > span#NotOnSaleTag {
	text-align: center;
	color: #bbb;
	font-weight: bold;
	width: 100%;
	padding-left: 0px;
	font-style: italic;
}


.Asset[template] {
	display: none;
}

#AssetsContainer table[hidden] {
	display: none;
}

#AssetsContainer #Loading, 
#AssetsContainer #NoAssets,
#Games #Loading, 
#Games #NoAssets {
	font-size: 18px;
	width: 100%;
	display: block;
	text-align: center;
	line-height: 180px;
}

/* Home CSS */
#HomePage {
	clear: both;
}

#HelloStuff h1 {
	margin-bottom: 0px;
	margin-top: 5px;

}
#HelloStuff #UserProfile > a img {
	border: 2px solid black;
	background: #222;
	width:200px;
}

#HelloStuff #UserProfile > a {
	display: inline-block;
	vertical-align: top;
}

#HelloStuff #UserProfile {
	float: left;
}

#StatusContainer {
	display: table-cell;
	vertical-align: middle;
	border: 2px solid black;
	background: #222;
	padding:10px;
	font-weight: bold;
	font-size: 12px;
	width: 180px;
	height: 94px;
	text-align: center;
	word-wrap: anywhere;
	position: relative;
	
}

/*#StatusContainer #Status {
	vertical-align: middle;
	height: 100%;
	display: table-cell;
	width: 100%;
}*/

#StatusContainer #Quotation {
	position: absolute;
	font-size: 32px;
}

#HomePage #FriendsContainer {
	display: inline-block;
	margin-top: 3px;
	margin-left: 3px;
}

#HomePage #FriendsContainer #Friends {
	padding: 5px;
	border: 2px solid black;
	height: 157px;
	width: 666px;
	background: #222;
	vertical-align: middle;

	overflow:hidden;
	overflow-x: scroll;
	list-style: none;
	white-space: nowrap;
}

#HomePage #FriendsContainer #NoFriends {
	display: table-cell;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	text-align: center;
	font-weight: bold;
	font-size: 16px;
}

#HomePage #FriendsContainer #Friends .Friend {
	border: 2px solid #090909;
	background: #282828;
	width: 114px;
	height: 135px;
	padding: 5px;
	text-align: center;
	margin-right: 5px;
	display: inline-block;
}

#HomePage #FriendsContainer #Friends .Friend a:hover #Name {
	text-decoration: underline;
}

#HomePage #FriendsContainer #Friends .Friend img {
	width: 100px;
	border: 2px solid #090909;
	background: #1a1919;
}

#HomePage #FriendsContainer #Friends .Friend #Name {
	vertical-align: middle;
	text-align: center;
	width: 124px;
	height: 30px;
	
	word-break: break-all;
	font-weight: bold;
}
#RecentlyPlayed h3,
#Favourites h3,
#FeedsContainer h2,
#FriendsContainer h3,
#FriendsContainer ul {
	margin:0px;
}

#RecentlyPlayed h3,
#Favourites h3 {
	margin-top: 10px;
	font-size: 15px;
}

#RecentlyPlayed #NoTagline,
#Favourites #NoTagline {
	text-align: center;
	width:100%;
	display: block;
	padding: 25px 0px;
	font-weight:bold;
}

#FeedsContainer {
	display: inline-block;
	width: 680px;
	vertical-align: top;
	margin-top: -117px;
	margin-left: 3px;
}

#FeedsContainer #Feeds {
	border: 2px solid black;
	border-bottom: 0;
	background: #222;
}

#FeedsContainer #Pager {
	border: 2px solid black;
	background: #222;
	padding: 16px;
	text-align: center;
}

#FeedsContainer #Submit {
	border: 2px solid black;
	background: #222;
	width: 656px;
	padding: 10px;
	white-space: nowrap;
	border-bottom: none;
}

#FeedsContainer #Submit input[type=text] {
	border: 2px solid black;
	background: #444;
	padding: 2px 4px;
	width: 514px;
	margin-right: 9px;
	color: white;
}

#FeedsContainer #Submit input[type=submit] {
	border: 2px solid black;
	background: black;
	color: white;
	padding: 4px 8px;
	padding: 2px 4px\9;
	width: 120px\9;
	font-weight: bold;
	font-family: punk;
}

#FeedsContainer #Submit input[type=submit]:hover {
	text-decoration: underline;
	background: #161616;
	cursor: pointer;
}

#FeedsContainer #Submit .Error {
	border: 1px solid white;
	background: #d00;
	padding: 4px;
	font-weight: bold;
}

#FeedsContainer #Submit .Success {
	border: 1px solid white;
	background: #080;
	padding: 4px;
	font-weight: bold;
}

#Feeds #FeedItem {
	padding: 10px;
}

#Feeds #FeedItem .User,
#Feeds #FeedItem #Content {
	vertical-align: middle;
}

#Feeds #FeedItem .User {
	text-align: center;
}

#Feeds #FeedItem .User img {
	width:90px;
	border: none;
}

#Feeds #FeedItem #Content code {
	padding: 5px;
	display:block;
	width: 542px;
	border: 2px solid black;
	background: #111;
	margin-bottom: 5px;
}

#Feeds #FeedItem .User #Name {
	width: 90px;
	overflow: hidden;
	text-overflow: ellipsis;
}

#Feeds #FeedItem #Content #DatePosted {
	color: lightgray;
	font-style: italic;
}

#FeedItem[template] {
	display: none;
}

#FeedItem[other] {
	background: #1a1a1a;
}

#FeedAndGames #ProfileGames {
	width: 204px;
	float: left;
}

#FeedAndGames {
	float: left;
}

#RecentlyPlayed #Games,
#Favourites #Games {
	width: 200px;
	border: 2px solid black;
	background: #222;
}

#RecentlyPlayed #Games .Game,
#Favourites #Games .Game {
	padding: 5px;
}

#RecentlyPlayed #Games .Game a,
#Favourites #Games .Game a {
	width: 100%;
}

#RecentlyPlayed #Games .Game img, 
#Favourites #Games .Game img {
	display: block;
	width: 180px;
	height: 101px;
	margin: 0 auto;
	border:2px solid black;
}

#RecentlyPlayed #Games .Game #Name,
#RecentlyPlayed #Games .Game #Stats,
#Favourites #Games .Game #Name,
#Favourites #Games .Game #Stats {
	margin-left: 6px;
	display:block;
	width: 180px;
}

#Clearer {
	clear: both;
	margin-bottom:2px;
	margin-bottom:20px\9;
}

.DisplayMobileWarning {
	position: absolute;
	inset: 0;
	background: darkred;
	z-index: 999;
	font-weight: bold;
	color: white;
}

.DisplayMobileWarning #MobileWarningText {
	width: 331px;
	text-align: center;
	margin: 0 auto;
}

.DisplayMobileWarning #MobileWarningText h1 {
	margin: 10px auto;
}

#IntroductionBox {
	width: 500px;
}

#IntroductionBox h2 {
	margin-bottom: 8px;
}

#IntroductionBox h3 {
	margin-bottom: 0px;
	margin-top: 0px;
	margin-left: 10px;
	font-size: 16px;
}

#IntroductionBox p {
	margin-left: 15px;
	margin-top: 5px;
	margin-bottom: 10px;
}

#ShowcaseContainer {
	margin-top: -195px;
	float: right;
}

#ShowcaseContainer h3 {
	margin: 0;
	
}

#ShowcaseBox {
	border: 3px solid black;
	background: #282828;
	width: 355px;
	padding: 10px;
}

#ShowcaseBox #Showcase {
	width: 327px;
	height: 184px;
	background: #1a1919;
	border: 2px solid #090909;
	margin: 0 auto; 
	display:block;
}

#ShowcaseBox #Carousel {
	border: 2px solid #090909;
	border-top: none;
	margin: 0 auto;
	width:fit-content;
	width:initial\9;
	height:42px;
	text-align: center;
	background: #171717;
	
}

#ShowcaseBox #Carousel img {
	display:inline;
	width:42px;
	height:42px;
}

#ShowcaseBox #Carousel img:hover,
#ShowcaseBox #Carousel img.selected {
	background: #444;
	cursor: pointer;
}

#NewUsersContainer {
	margin-top: -35px;
}

#NewUsersContainer h3 {
	margin-bottom: 0px;
	margin-left: 15px;
	width: 110px;
}

#NewUsersContainer #NewUsersBox {
	border: 2px solid #090909;
	margin: 0 auto;
	background: #171717;
	padding: 10px;
	padding-left: 15px;
	width: 100%;
	table-layout: fixed;
}



#NewUsersContainer #NewUsersBox .User {
	border: 2px solid #090909;
	background: #282828;
	width: 104px;
	display:inline-block;
	padding: 5px;
	text-align: center;
	margin-right: 5px;
	vertical-align: middle;
}

#NewUsersContainer #NewUsersBox .User img {
	width: 100px;
	border: 2px solid #090909;
	background: #1a1919;
}

#NewUsersContainer #NewUsersBox .User span {
	width: 100px;
	display: block;
	font-family: punk;
	font-weight: bold;
	word-break: break-all;
	margin: 0 auto;
	height: 28px;
}

#PopularGamesContainer h3 {
	margin-bottom: 0px;
	margin-left: 15px;
	width: 150px;
}

#PopularGamesContainer	#PopularGamesBox {
	border: 2px solid #090909;
	margin: 0 auto;
	background: #171717;
	padding: 10px;
	padding-left: 15px;
	width: 100%;
}

.PopularGame img {
	width: 300px;
	height: 169px;
	border: 2px solid #090909;
}

.PopularGame #Play {
	width: 212px;
	height: 54px;
	background: url(/images/btn_play_54h.png);
	display: inline-block;
}

.PopularGame #Play:hover {
	background-position: 0 54px;
}

.PopularGame #ShowcaseBigImages {
	display: table-cell;
	vertical-align: top;
	width:304px;
	text-align:center;
}

.PopularGame #ShowcaseBigImages img {
	background:	#282828
}

.PopularGame #ShowcaseDetails {
	display: table-cell;
	vertical-align: top;

	width: 282px;
	height: 225px;
}

.PopularGame #ShowcaseDetails #NameAndCreator {
	margin-left: 0px;
	margin-top: 0px;
	font-size:15px;
	width: 270px;
	background: black;
	font-family: punk;
	font-weight: bold;
	padding: 5px;
	padding-left: 15px;
	padding-top: 10px;
}

.PopularGame #ShowcaseDetails #NameAndCreator a {
	display: block;
	color: white;
}

.PopularGame #ShowcaseDetails #NameAndCreator #Creator {
	font-size: 11px;
}

.PopularGame #ShowcaseDetails code {
	border: 2px solid black;
	padding: 10px;
	background: #282828;
	height: 175px;
	display: block;
	width: 266px;
}

#PopularGames {
	text-align: center;margin-left: 10px;height: 195px;overflow: hidden;
	background: #0f0f0f;
	
}

#PopularGames img {
	width: 227px;height: 128px;
}

#GamesContainer {
	background: #222;
	padding: 10px;
	border: 2px solid black;
}

#GamesContainer #GamesFilterPanel {
	float: left;
	border: 2px solid black;
	background: #1a1a1a;
	width: 175px;
}

#GamesContainer #GamesFilterPanel h4 {
	margin: 0;
	width: 100%;
	padding: 10px 0px;
	text-align: center;
}

#GamesContainer #GamesFilterPanel ul {
	list-style: none;
	text-align: center;
	padding: 0;
}

#GamesContainer #GamesFilterPanel li > a{
	padding: 8px 6px;
	display: block;
	border: 2px solid black;
	margin: 5px;
	background: #111;
}

#GamesContainer #Games {
	float: left;
	border: 2px solid black;
	padding: 5px;
	background: #1a1a1a;

	width: 666px;
	margin-left: 7px;
}

#GamesContainer #Games .Game {
	display: inline-block;
	padding: 10px;
	border: 2px solid black;
	width: 194px;
	background: #111;
	margin: 2px;
}

#GamesContainer #Games .Game:hover {
	cursor: pointer;
}

#GamesContainer #Games .Game:hover #Info > a {
	cursor: pointer;
	text-decoration: underline;
	color: #ffc63f;
}

#GamesContainer #Games .Game #ImageContainer {
	position:relative;
	width: 189px;
	height: 108px;
}

#GamesContainer #Games .Game #ImageContainer > img {
	border: 2px solid black;
	position:absolute;
}

#GamesContainer #Games .Game #ImageContainer #FavouritesArea {
	border: 1px solid black;
	background: #222;
	position:absolute;
	z-index: 2;
	padding: 2px 5px;
}

#GamesContainer #Games .Game #Info > span,
#GamesContainer #Games .Game #Info > a {
	display:block;
}

#GamesContainer #Games .Game #Info > span {
	color: lightgray;
}

#NumberPutter {
	width: 40px;
	border: 2px solid black;
	background: #242424;
	color: white;
	text-align: center;
}

#Paginator {
	margin: 4px auto;
	margin-bottom: 0px;
	text-align: center;
}

.Game[template] {
	display:none;
}