#PublishContent *
{
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
#PublishContent H1
{
	font-weight: bold;
	font-size: larger;
}

.CreationsPanel
{
    height: 250px;
    width: 450px;
}